.form {
  margin: 2rem 0;
  padding: 2rem;
  background-color: aliceblue;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.form button {
  display: block;
  margin: 1rem auto 0 auto;
  padding: 0.5rem;
  width: 70%;
  background-color: beige;
  font-size: 1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-width: 1px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form button:hover {
  background-color: darkblue;
  color: beige;
  cursor: pointer;
}

.formControl {
  margin: 0.5rem 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.formControl input {
  margin-top: 0.5rem;
  border-radius: 6px;
  border-width: 1px;
  height: 1.5rem;
  font-size: 1rem;
}
